{% extends "bigbase.html" %}

{% block content %}
{% if dict1 %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Location</th>
                <th>Priority</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Nurse Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for patients in dict1 %}
            {% if patients.2 == "CR" %}
            <tr class="danger">
            {% else %}
            {% if patients.2 == "HI" %}
            <tr class="warning">
            {% else %}
            {% if patients.2 == "" %}
            <tr class="info">
            {% else %}
            <tr>
            {% endif %}
            {% endif %}
            {% endif %}
                <td>ER Waiting</td>
                <td>{{ patients.2 }}</td>
                <td>{{ patients.1 }}</td>
                <td>{{ patients.0 }}</td>
                <td>{{ patients.3 }}</td>
          </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% else %}
<p>There aren't locations in the database. Please contact your system administrator.</p>
{% endif %}

{% endblock %}
